@using WebApplication1.Security

@if (SessionPersister.Username != null)
{
    <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                <li>@Html.ActionLink("關於", "About", "Home")</li>
                <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>
                <li>@Html.ActionLink("孟澤の聊天室", "Index", "Messages1")</li>
                <li>@Html.ActionLink("個人資料列表", "Index", "Accounts")</li>
                @*<li>@Html.ActionLink("登出", "Logout", "Accounts")</li>*@

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @SessionPersister.Username
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Logout", "Accounts")"><i class="icon-off"></i> 登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
}

else
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("首頁", "Index", "Home")</li>
            <li>@Html.ActionLink("關於", "About", "Home")</li>
            <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>
            <li>@Html.ActionLink("孟澤の聊天室", "Index", "Messages1")</li>
            <li>@Html.ActionLink("個人資料列表", "Index", "Accounts")</li>
            <li>@Html.ActionLink("註冊", "Create", "Accounts")</li>
            <li>@Html.ActionLink("登入", "Login", "Accounts")</li>
        </ul>
    </div>
}