@model WebApplication1.Models.Account
@{ 
    ViewBag.Title = "Login";
}

<h2>登入</h2>

@using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
{
    @ViewBag.Error

    <div>
        <div>
            @Html.LabelFor(model => model.Username)
        </div>

        <div>
            @Html.TextBoxFor(model => model.Username)
        </div>
    </div>

    <div>

        <div>
            @Html.LabelFor(model => model.Password)
        </div>

        <div>
            @Html.PasswordFor(model => model.Password)
        </div>
    </div>


    <br />
    <div class="form-group">
        <div>
            <input type="submit" value="登入" class="btn btn-default" />
        </div>

        <br />

        <div>
            <button class="btn btn-default">
                @Html.ActionLink("註冊", "Create")
            </button>
        </div>
    </div>


}
